In [11]:
import sqlalchemy
import pandas as pd
engine = sqlalchemy.create_engine('postgresql://postgres:voiUV1128@localhost:5432/music_service')
connection = engine.connect()

In [17]:
req2018 = connection.execute("""
SELECT album_name, release_date FROM Albums
    WHERE  release_date < '2019-01-01' AND release_date > '2017-12-31'
""").fetchall()
pd.DataFrame(req2018)

  album_name release_date
0        442   2018-03-23
1  New Model   2018-09-04

In [20]:
req_longest = connection.execute("""
SELECT track_name, duration FROM Tracks
    ORDER BY duration DESC;
""").fetchmany(1)
pd.DataFrame(req_longest)

                        track_name  duration
0  One Last Goodbye (In My Dreams)  00:06:42

In [22]:
req_dur_more_then = connection.execute("""
SELECT track_name FROM Tracks
    WHERE duration >= '00:03:30';    
""").fetchall()
pd.DataFrame(req_dur_more_then)

                           track_name
0   BWV 639 Choral Prelude in F Minor
1                                 925
2                                 387
3                              Flying
4                           Harmonium
5                           Mezzanine
6                               Angel
7                        Brain Damage
8                   Diet Mountain Dew
9                  Summertime Sadness
10                          Userspace
11                     Floating Point
12                     Tainted Empire
13             Birth of the New Model
14            Decimation (Dis Nation)
15                            Boycott
16    One Last Goodbye (In My Dreams)

In [23]:
req_18_collection_20 = connection.execute("""
SELECT track_collection_name FROM Collection
    WHERE release_date <= '2020-12-31' AND release_date >= '2018-01-01'
""").fetchall()
pd.DataFrame(req_18_collection_20)

  track_collection_name
0          Rap-playlist
1           My-playlist

In [26]:
req_mus = connection.execute("""
SELECT mus_name FROM Mus
    WHERE mus_name NOT LIKE '%% %%';
""").fetchall()
pd.DataFrame(req_mus)

      mus_name
0      Dolphin
1     Anathema
2  Perturbator
3        Dalek

In [29]:
req_track = connection.execute("""
SELECT track_name FROM Tracks
    WHERE track_name LIKE '%%Мой%%'
    OR track_name LIKE '%%My%%';
""").fetchall()
pd.DataFrame(req_track)

                        track_name
0                          Мой Мир
1  One Last Goodbye (In My Dreams)