In [1]:
import sqlalchemy
import pandas as pd
engine = sqlalchemy.create_engine('postgresql://postgres:***@localhost:5432/music_service')
connection = engine.connect()

In [34]:
# количество исполнителей в каждом жанре
req_num_mus_in_genre = connection.execute("""
SELECT genre_name, COUNT(Mus_id) FROM genre
JOIN musgenre ON genre.id = musgenre.genre_id
GROUP BY id;
""").fetchall()
pd.DataFrame(req_num_mus_in_genre)

         genre_name  count
0             Metal      1
1          Trip-Hop      2
2               Pop      1
3       Alternative      1
4             Djent      1
5           Classic      1
6         Retrowave      1
7           Hip-Hop      1
8  Progressive Rock      2

In [46]:
# количество треков, вошедших в альбомы 2019-2020 годов
req_track_count_19_20 = connection.execute("""
SELECT COUNT(tracks.id) FROM tracks, albums
WHERE track_id = albums.id AND albums.release_date BETWEEN '2019-01-01' AND '2020-12-31';
""").fetchall()
pd.DataFrame(req_track_count_19_20)

   count
0      4

In [47]:
# средняя продолжительность треков по каждому альбому
req_avg_track_duration = connection.execute("""
SELECT album_name, AVG(duration) FROM albums
JOIN tracks ON albums.id = tracks.track_id
GROUP BY album_name;
""").fetchall()
pd.DataFrame(req_avg_track_duration)

                      album_name                    avg
0                      Mezzanine        0 days 00:05:41
1             A Natural Disaster 0 days 00:06:03.666667
2                           Край        0 days 00:04:31
3                            442        0 days 00:04:06
4                      Precipice 0 days 00:03:46.500000
5   Well-Tempered Clavier Book I        0 days 00:04:17
6                    Born To Die        0 days 00:04:06
7      The Dark Side Of The Moon        0 days 00:03:00
8        Norman Fucking Rockwell        0 days 00:04:09
9                    Brute Force        0 days 00:05:41
10                     New Model 0 days 00:04:55.500000

In [6]:
# все исполнители, которые не выпустили альбомы в 2020 году
req_albums_not_2020 = connection.execute("""
SELECT mus_name FROM mus
WHERE mus.id NOT IN(
    SELECT mus_id FROM musalbums JOIN albums ON albums.id = musalbums.album_id
    WHERE albums.release_date BETWEEN '2020-01-01' AND '2020-12-31');
""").fetchall()
pd.DataFrame(req_albums_not_2020)

                mus_name
0  Johann Sebastian Bach
1               Anathema
2         Massive Attack
3             Pink Floyd
4           Lana Del Rey
5          The Algorithm
6            Perturbator
7                  Dalek

In [20]:
# названия сборников, в которых присутствует конкретный исполнитель (выберите сами)
req_collection = connection.execute("""
SELECT track_collection_name FROM collection
JOIN trackcollection ON collection.id = collect_id
WHERE track_id IN(
    SELECT tracks.id FROM tracks
    WHERE track_id IN(
        SELECT track_id FROM tracks
        JOIN albums ON track_id = albums.id
        WHERE albums.id IN(
            SELECT albums.id FROM albums
            JOIN musalbums ON album_id = albums.id
            WHERE mus_id IN(
                SELECT mus.id FROM mus 
                JOIN musalbums ON mus.id = mus_id
                    WHERE mus_name LIKE '%%Algorithm%%'))));
""").fetchall()

pd.DataFrame(req_collection)

  track_collection_name
0   Electronic-playlist
1        Chill-playlist
2        Metal-playlist
3           My-playlist

In [131]:
# название альбомов, в которых присутствуют исполнители более 1 жанра
req_alb_more_then_1_genre = connection.execute("""
SELECT album_name FROM albums
JOIN musalbums ON albums.id = album_id
WHERE mus_id IN(
    SELECT mus_id FROM musgenre
    GROUP BY mus_id
    HAVING COUNT(mus_id) > 1);
""").fetchall()
pd.DataFrame(req_alb_more_then_1_genre)

           album_name
0                 442
1  A Natural Disaster
2                Край

In [26]:
# наименование треков, которые не входят в сборники
req_not_in_playlist = connection.execute("""
SELECT track_name FROM tracks
WHERE tracks.id NOT IN(
    SELECT track_id FROM trackcollection);
""").fetchall()
pd.DataFrame(req_not_in_playlist)

                track_name
0                      387
1       Summertime Sadness
2   Birth of the New Model
3                  Мой Мир
4               Любовь 2.0
5                     ЛЕТО
6                     1984
7  Norman Fucking Rockwell

In [40]:
# исполнителя(-ей), написавшего самый короткий по продолжительности трек (теоретически таких треков может быть несколько)
req_mus_shortest_track = connection.execute("""
SELECT mus_name FROM mus
WHERE mus.id IN (
    SELECT mus_id FROM musalbums
    WHERE album_id IN (
        SELECT track_id FROM tracks
        WHERE duration <= (
            SELECT MIN(duration) FROM tracks)));
""").fetchall()
pd.DataFrame(req_mus_shortest_track)

     mus_name
0  Pink Floyd

In [136]:
# название альбомов, содержащих наименьшее количество треков


req_alb_min_track = connection.execute("""

SELECT album_name FROM albums
JOIN musalbums ON albums.id = album_id
WHERE albums.id IN(
    SELECT albums.id FROM albums
    JOIN tracks ON albums.id = track_id
    GROUP BY albums.id
    HAVING COUNT(albums.id) <= (SELECT COUNT(track_id) trackcount FROM albums
        JOIN tracks ON albums.id = track_id
        GROUP BY album_name
        ORDER BY trackcount ASC
        LIMIT 1));
""").fetchall()
pd.DataFrame(req_alb_min_track)

                     album_name
0  Well-Tempered Clavier Book I
1       Norman Fucking Rockwell